<div class="signup-container">
    <div class="signup-container__grid">
        <div class="signup-container__header">
            <h1 class="signup-container__title title">SignUp Assessment</h1>
        </div>
        <div class="signup-container__panel">
            <div class="signup-container__form">
                <div class="signup-container__card card">
                    <form class="signup-container__form">
                        <!-- Form goes here-->
                        <h1 class="signup-container__title title">Create an account</h1>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="signup-container__attribution">
        <a href="https://www.linkedin.com/in/velid-duranovi%C4%87" target="_blank">Velid Duranovic</a>
    </div>
</div>