<div class="signup-container">
    <div class="signup-container__grid">
        <div class="signup-container__header">
            <h1 class="signup-container__title title">SignUp Assessment</h1>
        </div>
        <div class="signup-container__panel">
            <div class="signup-container__form">
                <div class="signup-container__card card">
                    <h1 class="signup-container__title title">Create an account</h1>
                    <form class="signup-container__form" [formGroup]="form" (ngSubmit)="signUp()">
                        <!-- Form goes here-->
                        <div class="form-field">
                            <label for="first_name" class="form-field__label">First name</label>
                            <input type="text" id="first_name" class="form-field__input" formControlName="firstName" data-testid="firstNameInput">
                            <div class="form-field__errors" *ngIf="form.get('firstName')?.touched">
                                <label class="form-field__error" for="first_name" *ngIf="form.get('firstName')?.errors?.['required']" data-testid="firstNameError">Please enter your first name.</label>
                            </div>
                        </div>

                        <div class="form-field">
                            <label for="last_name" class="form-field__label">Last name</label>
                            <input type="text" id="last_name" class="form-field__input" [class.form-field__input--error]="form.get('lastName')?.touched && form.get('lastName')?.errors" formControlName="lastName" data-testid="lastNameInput">
                            <div class="form-field__errors" *ngIf="form.get('lastName')?.touched">
                                <label class="form-field__error" for="last_name" *ngIf="form.get('lastName')?.errors?.['required']" data-testid="lastNameError">Please enter your last name.</label>
                            </div>
                        </div>

                        <div class="form-field">
                            <label for="email" class="form-field__label">Email</label>
                            <input type="email" id="email" class="form-field__input" [class.form-field__input--error]="form.get('email')?.touched && form.get('email')?.errors" formControlName="email" data-testid="emailInput">
                            <div class="form-field__errors" *ngIf="form.get('email')?.touched">
                                <label class="form-field__error" for="last_name" *ngIf="form.get('email')?.errors?.['required']" data-testid="enterEmailError">Please enter your email.</label>
                                <label class="form-field__error" for="last_name" *ngIf="form.get('email')?.errors?.['pattern']" data-testid="invalidEmailError">That's an invalid email.</label>
                            </div>
                        </div>

                        <div class="form-field">
                            <label for="password" class="form-field__label">Password</label>
                            <input type="password" id="password" class="form-field__input" [class.form-field__input--error]="form.get('password')?.touched && form.get('password')?.errors" formControlName="password" data-testid="passwordInput">
                            <div class="form-field__errors" *ngIf="form.get('password')?.touched">
                                <label class="form-field__error" for="password" *ngIf="form.get('password')?.errors?.['required']" data-testid="enterPassword">Please enter your password.</label>

                                <ng-container *ngIf="form.get('password')?.status === 'INVALID' && !form.get('password')?.errors?.['required']">
                                    <label class="form-field__error" for="password" data-testid="invalidPasswordError">That's an invalid password.</label>
                                    <div class="form-field__error-description" data-testid="passwordValidationMessage">
                                        <strong>Create password that: </strong>
                                        <ul>
                                            <li [ngClass]="form.get('password')?.errors?.['minlength'] ? 'error': 'success'" data-testid="passwordLessCharacters">
                                               <span>contains at least 8 characters.</span>
                                            </li>
                                            <li [ngClass]="form.get('password')?.errors?.['pattern'] ? 'error': 'success'" data-testid="passwordPattern">
                                                <span>contains both lower (a-z) and upper case letters (A-Z)</span>
                                            </li>
                                            <li [ngClass]="form.get('password')?.errors?.['noFirstNameLastName'] ? 'error': 'success'" data-testid="passwordNoFirstNameLastName">
                                                <span>does not contain your first name and your last name.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                        <div class="signup-container__button-container">
                            <button [disabled]="form.status === 'INVALID'" class="button" [class.button--loading]="loading" data-testid="submitButton">Continue</button>
                        </div>
                    </form>

                    <p class="signup-container__sign-in">
                        Already have an account? <a routerLink="/sign-in" data-testid="signInLink">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="signup-container__attribution" data-testid="attributionWrapper">
        <a href="https://www.linkedin.com/in/velid-duranovi%C4%87" target="_blank" data-testid="attributionLink">Velid Duranovic</a>
    </div>
</div>